//! About section
.about{
    @include flexbox(flex-start, center, column);
    padding-top: 100px;

    @media (max-width: 767px) {
        padding-top: 30px;
    }
    
    .container{
        width: 100%;
        @include flexbox(center);
        margin-top: 100px;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 767px) {
            margin-top: 30px;
        }

        .column{
            @include flexbox(flex-start, center, column);

            .text-description{
                width: 566px;
                color: #505050;
                font-family: "Lato", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;

                @media (max-width: 590px) {
                    width: auto;
                    padding: 0 15px;
                    box-sizing: border-box;
                }
            }

            .accordions{
                width: 100%;
                box-sizing: border-box;
                margin-top: 32px;
                @include flexbox(flex-start, center, column);
                
                @media (max-width: 595px) {
                    width: 95vw;
                }

                .accordion{
                    width: 569px;
                    border: 1px solid #e7e7e7;
                    margin-top: 9px;

                    @media (max-width: 595px) {
                        width: 100%;
                    }

                    .switcher{
                        @include flexbox();
                        cursor: pointer;
                        width: 100%;
                        height: 45px;
                        background-color: #f7f7f7;
                        border-bottom: 1px solid #e7e7e7;

                        .icon{
                            @include flexbox(center, center);
                            width: 60px;
                            height: 100%;
                            border-right: 1px solid #e7e7e7;
                            background-color: #f7f7f7;

                            .close-icon{
                                display: none;
                            }
                        }

                        .title{
                            color: #262626;
                            font-family: "Raleway";
                            font-size: 20px;
                            font-weight: 500;
                            align-self: center;
                            margin-left: 31px;
                        }
                    }

                    .toggle-place{
                        box-sizing: border-box;
                        padding: 0 16px;
                        display: none;
                        width: 100%;

                        .text{
                            color: #505050;
                            font-family: "Lato", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .img-group{
            width: 570px;
            position: relative;
            margin-left: 30px;
            margin-top: 45px;

            @media (max-width: 1200px){
                margin-left: 0;
            }

            @media (max-width: 620px){
                width: 90vmin;
            }

            img{
                width: 100%;
            }
        }
    }

    //* Advantages
    .advantages{
        @include flexbox(flex-start, center, column);
        
        // Scroll-bar
        .about-scroll-bar{
            margin-top: 109px;
            @media (max-width: 1200px) {
                margin-top: 40px;
            }
        }

        .container{
            @include flexbox();

            @media (max-width: 1370px) {
                flex-direction: column;
                align-items: center;
            }

            .row{
                @include flexbox();

                &:nth-child(2){
                    @media (max-width: 1370px) {
                        margin-top: 35px;
                    }

                    @media (max-width: 700px) {
                        margin-top: 15px;
                    }
                }

                @media (max-width: 700px) {
                    flex-direction: column;
                    align-items: center;
                }

                .advantage{
                    padding: 0 39px;
                    width: 259px;
                    @include flexbox(flex-start, center, column);
                    flex-wrap: wrap;

                    @media (max-width: 700px) {
                        margin-top: 15px;
                    }

                    @media (max-width: 360px) {
                        padding: 0 10px;
                    }
                    
                    .icon{
                        position: relative;
                        flex-direction: row-reverse;
                        margin-top: -7px;
                        margin-left: 50%;
                        margin: auto;
    
                        .img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-right: -50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .title{
                        color: #262626;
                        font-family: "Raleway", sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                        margin-top: 32px;
                    }

                    .text{
                        width: 259px;
                        text-align: center;
                        color: #505050;
                        font-family: "Lato", sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}