.publicications-top-text {
	margin-top: 50px;
	padding: 0 10px;
}

.publications-list {
	margin-top: 35px;
	padding: 0 10px;
	list-style-position: inside;
}

.publicications-top-text p, .publications-list li {
	margin-top: 10px;
	color: #444;
	font-size: em(14px);

	a {
		color: #74d4ee;
	}
}