@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.section-card {
        .section-card__triangle, .section-card__triangle-small {
            display: none;
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .section-card {
        &-a, &-b, &-c {
            .section-card__thumbnail {
                height: 350px;
            }

            .section-card__sign {
                top: 0;
                left: 10px;
            }
        }
        

        &__content {
            padding: 40px 15px;
        }
    }

    .footer {
        &:after {
            left: 44%;
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .start-banner {
        &:before {
            display: none;
        }

        &:after {
            left: 50%;
            width: 100%;
        }
    }

    .footer {
        &:after {
            left: 42%;
        }

        &-logo {
            flex-direction: column;

            .copyright {
                margin-left: 0;
                margin-top: 15px;
            }
        }

        &-soc-btns, &-address {
            margin-top: 20px;
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .header {
        &-menu-pc {
            display: none;
        }

        &-menu-mobile {
            position: absolute;
            z-index: 555;
            left: 0;
            @include box(100%, auto);
            flex-direction: column;
            background: $dark-blue;

            .header-menu__item {
                margin: 0;
                width: 100%;

                a {
                    display: block;
                    width: 100%;
                    padding: 15px;
                    color: #fff;
                    text-align: center;

                    &:hover {
                        background: $dark-aqua;
                    }
                }
            }
        }

        .burger-btn {
            @include flexbox(space-between, center, column);
        }

        &-address, &-soc-btns {
            margin-top: 20px;
        }
    }
    
    .start-banner {
        padding: 30px 0;

        &:after {
            transform: skewX(0);
            top: 0;
            left: 0%;
            background-size: cover;
            background-color: transparent;
        }

        &__title {
            margin-top: 10px;
            font-size: em(45px);
            line-height: normal;
        }

        &__btn {
            margin-left: 15px;
        }

        &__scroll-down {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .section-card {     
        &__sign {
            font-size: em(48px);
        }

        &__content {
            padding-top: 20px;
        }

        &__title {
            &:before {
                position: static;
                margin-right: 10px;
            }
        }
    }
}