//! Desktop first
// ≥1200px
@include media-breakpoint-down(lg) {
	.header {
        &-logo {
            &__btn {
                padding-bottom: 20px;
                font-size: em(30px);
            }

            &__domain-zone {
                margin-top: 15px;
                font-size: 10px;
            }
        }

        .nav-menu {
            .nav-menu__item + .nav-menu__item {
                margin-left: 15px;
            }
        }
    }

    .modal-form {
        .contact-form {
            padding: rem(50px) rem(30px);
        }

        &__close-btn {
            top: rem(50px);
            right: rem(20px);
        }
    }

    .contact-info {
        .soc-btn {
            @include box(50px);
        }
    }

    .contact-section {
        &__form {
            padding: rem(120px) 0;
        }
    }

    .about {
        &-slider {
            &__item {
                height: rem(490px);
            }
        }
    }

    .start-section {
        &__box {
            height: 310px;
        }

        &__icons {
            img {
                height: rem(65px);
            }
        }

        &__title {
            padding: 40px 25px;
            font-size: rem(30px);
        }

        &__text {
            margin-top: 40px;
        }
    }

    .brand-features {
        &-slider {
            &__img {
                height: 435px;
            }
        }
    }

    .tabs {
        &-table {
            thead th {
                padding: 10px;
                font-size: rem(14px);
            }

            tbody td {
                padding: 10px;

                a {
                    font-size: rem(12px);
                }
            }
        }
    }

    .main-services {
        &-item {
            &__img {
                height: rem(420px);
            }
        }
    }
    
    .features {
        &-item {
            height: rem(300px);
        }
    }

    .start-banner {
        &__img {
            background-size: 100% auto;
        }

        &__order-btn {
            width: 67%;
        }
    }

    .start-banner-main {
        background-size: rem(390px);

        &:before, &:after {
            height: rem(155px);
            background-size: rem(350px);
        }

        &__btns {
            @include box(100%, rem(150px));
        }
    
        &__btn {
            padding: rem(20px) rem(15px);
            font-size: rem(12px);
            border: rem(2px) solid $dark-gray;
    
            &.active {
                border: rem(2px) solid $orange-light;
            }
    
            &:nth-child(2) {
                top: rem(50px);
                left: rem(150px);
            }
    
            &:nth-child(3) {
                top: rem(25px);
                left: rem(260px);
            }
        }

        &__img {
            max-width: 80%;
        }

        .pocket {
            height: rem(580px);
    
            &__box {
                height: rem(450px);
            }
    
            .pocket-bottom__btn {
                padding: rem(30px) rem(40px);
            }
        }
    }

    .pocket {
        height: rem(580px);

        &__box {
            height: rem(445px);
        }

        &-bottom {
            margin-top: 20px;
    
            &__wrap {
                width: 32%;
            }

            &__img {
                max-width: rem(95px);
                max-height: rem(70px);
            }

            &__btn {
                padding: rem(30px) rem(40px);
                font-size: rem(20px);
            }
        }
    }

    .section-title {
        font-size: rem(32px);
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .header {
        .nav {
            position: absolute;
            top: 100%;
            right: 0;
            display: none;
            width: 215px;
            padding: 15px 20px;
            background-color: $light;
            border-bottom-left-radius: 38px;

            .soc-btn {
                @include box(38px);
            }
        }

        .nav-menu {
            flex-direction: column;

            .nav-menu__item {
                padding-bottom: 0;
            }

            .nav-menu__item + .nav-menu__item {
                margin-top: 15px;
                margin-left: 0;
            }

            &-dropdown {
                position: static;
                margin-top: 10px;
                padding: 0;
                background: $light;

                .nav-menu__link {
                    color: $dark;

                    i {
                        color: $dark;
                    }
                }
            }
        }
    }

    .top-line-empty {
        height: 62px;
    }

    .start-section {
        &__box {
            height: 270px;
        }

        &__icons {
            img {
                height: 50px;
            }
        }

        &__title {
            width: 51%;
            padding: 35px 20px;
            font-size: rem(22px);
        }

        &__text {
            margin-top: 40px;
            font-size: rem(18px);
        }
    }

    .brand-features {
        &-slider {
            &__img {
                height: 360px;
                border-radius: 40px;
            }

            &__title {
                font-size: rem(24px);
                line-height: rem(23px);
            }
    
            &__text {
                font-family: 'SF UI Display', sans-serif;
                font-size: rem(18px);
            }
        }
    }

    .start-banner {
        &__box {
            height: auto;
            background-image: none;
        }

        &__order-btn {
            display: none;
        }

        &__content {
            height: auto;
            min-height: auto;
        }
    }

    .start-banner-main {
        background-position-y: 3%;

        &__img {
            width: auto;
            max-height: 80%;
        }
    }

    .features {
        &-item {
            padding: 15px;
            height: 200px;
            border-radius: 30px;
            
            &:after {
                border-radius: 30px;
            }

            &__title {
                font-size: em(20px);
            }

            &__text {
                font-size: em(16px);
            }
        }
    }

    .main-services {
        &-item {
            width: calc(33.333% - 7.5px);
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .card {
        padding: 30px 20px;
        border-radius: 40px;

        &__title {
            font-size: rem(20px);
        }

        &__text, li {
            font-size: rem(16px);
        }
    }

    .start-section {
        &__box {
            height: 220px;
        }

        &__title {
            width: 51%;
            padding: 30px 20px;
            font-size: rem(20px);
        }

        &__text {
            margin-top: 20px;
            font-size: rem(16px);
        }
    }

    .brand-features {
        &-slider {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            border-radius: 40px;

            &__img {
                border-radius: 60px;
                height: 290px;
            }

            &__img, &__content {
                width: 100%;
            }

            &__title {
                font-size: rem(20px);
                line-height: normal;
            }

            &__text {
                font-size: rem(15px);
            }

            .slick-dots {
                left: 0;

                li {
                    @include box(40px, 2px);
                }

                li + li {
                    margin-left: rem(10px);
                }
            }
        }
    }
    
    .termoblocks {
        &-item {
            border-radius: 40px;
            background: linear-gradient(180deg, #E3E3E3 20%, #696969);

            &__title {
                font-size: rem(40px);
                line-height: rem(40px);
            }

            &__subtitle {
                font-size: rem(22px);
                line-height: rem(40px);
            }

            &-content {
                h2, h3, h4, h5, h6 {
                    font-size: rem(15px);
                }

                li {
                    font-size: rem(12px);
                }
            }
        }
    }

    .tabs {
        &-table {
            width: 200%;
        }
    }

    .start-banner {
        &__supertitle {
            font-size: rem(30px);
        }

        &__title {
            font-size: rem(70px);
            line-height: rem(65px);
        }

        &__subtitle {
            font-size: rem(40px);
        }

        &__text {
            max-width: 100%;
            font-size: rem(18px);
        }
    }
    
    .start-banner-main {
        &:before, &:after {
            animation-duration: 10s;
        }
    }

    .main-services {
        &-item {
            &__title {
                font-size: em(45px);
            }
    
            &__subtitle {
                font-size: em(20px);
            }
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .map-section {
        #map {
            height: 300px;
            border-radius: 40px;
        }
    }

    .contact-info {
        .card {
            &__title {
                font-size: rem(24px);
            }

            &__text {
                font-size: rem(15px);
            }
        }
    }

    .about {
        &-slider {
            &__item {
                height: rem(350px);
                border-radius: 40px;
            }
        }

        &__title {
            font-size: rem(15px);
            line-height: rem(16px);
        }

        &__text {
            font-size: rem(10px);
        }
    }

    body {
        background: #ffff;
    }

    .card {
        &__title {
            font-size: rem(15px);
        }

        &__text, li {
            font-size: rem(10px);
        }

        &-images {
            &__img {
                height: 35px;
            }
        }
    }

    .start-section {
        &__box {
            height: auto;
            padding-bottom: 10px;
        }

        &__icons-wrap {
            width: 40%;
        }

        &__icons {
            bottom: 0;

            img {
                height: 20px;
            }

            img + img {
                margin-left: 5px;
            }
        }

        &__title {
            width: 60%;
            padding: 10px;
            font-size: rem(14px);
        }

        &__text {
            margin-top: 0;
            padding-left: 25px;
            padding-right: 25px;
            font-size: rem(12px);
        }
    }

    .modal-form {
        .contact-form {
            width: 90%;
        }

        &__close-btn {
            right: 40px;
        }
    }

    .tabs {
        &-header {
            &__link {
                padding: 15px;
                font-size: rem(10px);
            }
        }

        &-table {
            width: 250%;
        }
    }

    .footer {
        &__box {
            padding: 30px 20px;
            border-radius: 40px;
        }

        &-column {
            &__title {
                font-size: rem(16px);
            }
        }

        &-soc-btns {
            .soc-btn {
                @include box(27px);
            }

            .footer-column__link-text {
                font-size: em(10px);
            }
        }
    }

    .contact-form {
        text-align: center;

        &__title {
            font-size: rem(18px);
        }

        &__wrap {
            width: 100%;
        }

        &__tel {
            padding: 20px 40px;
            width: 100%;
            font-size: rem(17px);
        }

        &__icon {
            left: 10px;
            width: 30px;
        }

        &__text {
            font-size: rem(18px);
        }

        &__btn {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            padding: 30px;
            font-size: rem(22px);
        }
    }

    .contact-section {
        &__box, &__img {
            border-radius: 40px;
        }

        &__img {
            height: 365px;
        }

        &__form {
            padding: 0;
            padding-bottom: 2rem;
        }
    }

    .faq {
        &-item {
            &__title {
                padding-right: 1rem;
                font-size: em(16px);
            }

            &__icon {
                @include box(rem(30px));

                i {
                    font-size: rem(25px);
                }
            }

            &__content {
                font-size: rem(14px);
            }
        }
    }

    .content-container {
        padding: 0 1rem;
    }

    .header {
        &-logo {
            &__btn {
                padding: 10px;
            }

            &__domain-zone {
                font-size: 10px;
            }
        }

        &__tel, .nav-menu__link {
            font-size: em(11px);
        }

        &__order-btn {
            font-size: em(10px);
        }
    }

    .start-banner-main {
        &:before, &:after {
            animation-duration: 8s;
            background-size: vh(180px);
        }

        &:before {
            top: 35px;
        }

        &:after {
            top: 55px;
        }

        .pocket {
            border-radius: 40px;

            &-bottom {
                margin-top: 15px;
            }
        }

        &__img {
            max-width: 280px;
        }
    }

    .pocket {
        height: 390px !important;
        background-size: 100% 390px !important;
        background-position: top;

        &__box {
            @include box(100%, 300px !important);
        }

        &-bottom {
            margin-top: 0;

            &__text {
                font-size: rem(9.5px);
            }

            &__img {
                max-width: 60px;
                max-height: 50px;
            }

            &__btn {
                padding: 20px !important;
            }
        }
    }

    .section-title {
        font-size: em(16px);
    }

    .features {
        &-item {
            margin-top: 20px;
            width: calc(50% - 5px);
            padding: 15px 10px;
            height: 120px;

            &:after {
                background: linear-gradient(0deg, $light 0%, transparent 100%);
            }

            &:after {
                border-radius: 40px;
            }

            &__title {
                font-size: rem(13px);
                text-wrap: wrap;
            }

            &__text {
                font-size: rem(12px);
            }
        }
    }

    .main-services {
        &-item {
            padding-top: 15px;
            padding-bottom: 5px;
            border-radius: 40px;

            &__title {
                font-size: em(17px);
                text-wrap: wrap;
            }
    
            &__subtitle {
                font-size: em(10px);
            }

            &__img {
                height: 140px;
                background-position: top;
            }
        }
    }
}

//! Mobile first
// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {
    .text-md-right {
        text-align: right;
    }
}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
