* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    outline: none;
    font-family: "Hind", sans-serif;
    color: #393939;
}

body {
    overflow-x: hidden;
    background-color: $light;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    word-break: break-word;
    transition: all .3s ease;
}

span {
    font-family: inherit;
}

input, textarea{
    border: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}