//! Century Gothic
// Regular
@font-face {
    font-family: 'Century Gothic';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/CenturyGothic/centurygothic.woff') format('woff');
}

/* Bold */
@font-face {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/CenturyGothicBold/centurygothic_bold.woff') format('woff');
}