$default-font: "Saira", sans-serif;
$gold: #F5CB5C;
$accent: #E5E5E5;
$text: #242423;
$grid-color: rgba($color: #D9D9D9, $alpha: .2);

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1275px);

$gutter: $grid-gutter-width;
