@import "vars";

/*==========  Desktop First  ==========*/

// ≥1365px
@include media-breakpoint-down(lg) {
	.scale-wrapper {
        transform-origin: top left;
    }
}

// ≥768px
@include media-breakpoint-down(md) {
    //! Header
    .header {
        top: 0;

        &-inner {
            padding: 15px;
        }

        &-panel {
            &-item {
                display: none;
            }
        }
    }

    .pc-menu {
        display: none;
    }

    .burger-btn {
        display: flex;
    }

    //! Components
    .product {
        &__overprice {
            margin-left: 0;
        }
    }

    .section-title {
        font-size: em(30px);
    }

    .btn {
        font-size: em(14px);
    }

    .modal {
        &-inner {
            width: 95%;
            flex-direction: column;
        }

        &__logo {
            position: static;
        }

        &-form {
            width: 100%;

            &__title {
                margin-top: 25px;
            }
        }
    }

    // Bottom navigation
    .bottom-nav {
        @include flexbox(space-between, center);
    }

    // Products section
    .products-section {
        &-row {
            margin-top: -10px;
        }

        .product {
            margin-top: 50px;
            width: calc(50% - 5px);
        }
    }

    // Filters
    .filters {
        &-mobile {
            background: #232323;
        }

        &__search {
            padding: 10px;
            display: none;
            
            i {
                left: 22px;
            }
        }

        &__sort {
            select {
                color: #fff;
                border-color: #fff;
            }

            i {
                color: #fff;
            }
        }

        &-item + &-item {
            margin-top: 0;
        }

        &-item {
            display: none;
            padding: 20px 10px;
            border-top: 1px solid rgba($color: #fafafa, $alpha: .3);

            &__title {
                margin-bottom: 0;
                color: #7a7a7a;
                font-size: em(18px);
            }

            &-body {
                margin-top: 15px;
                display: none;
            }
        }
    }

    //! Main page
    // Start banner
    .start-banner {
        margin-bottom: -26px;
        padding: 30px 25px;
        height: vw(830);
        background-image: url('../img/start_banner_mobile.svg');

        &:before {
            top: 70px;
            content: 'apple gold';
            font-size: vw(128);
            line-height: vw(115);
        }

        &-slider {
            &__item {
                height: vw(445);
                background-size: 100%;
            }

            @keyframes floating {
                0% {
                    transform: translateY(0px) scale(1.3);
                }
                50% {
                    transform: translateY(-15px) scale(1.5);
                }
                100% {
                    transform: translateY(0px) scale(1.3);
                }
            }
        }

        &__title, &__text {
            text-align: center;
        }

        &__title {
            margin-bottom: vw(10);
            max-width: none;
        }

        &__text {
            margin-bottom: vw(30);
        }

        &__btn {
            margin-bottom: vw(10);
            width: 100%;
        }
    }

    // Main catalog
    .main-catalog {
        &-item {
            padding: 10px 10px 0 10px;
            @include box(calc(50% - 5px), vw(160));

            &:nth-child(4) {
                order: 1;
            }

            &:nth-child(1), &:nth-child(4) {
                height: vw(160);
            }

            &__title {
                margin-bottom: 10px;
                font-size: em(14px);
            }
        }
    } 

    // Main slider
    .main-slider {
        .slick-track {
            display: flex;
        }

        &-item {
            height: vw(625);

            &__title, &__text {
                text-align: center;
            }

            &__content {
                height: 30%;
            }

            &__title {
                margin-top: vw(80);
                font-size: vw(25);
            }

            &__text {
                font-size: vw(16);
            }

            &__img {
                margin-top: vw(55);
                height: vw(297);
            }
        }

        .slick-dots {
            bottom: 60.5%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // Sale
    .sale {
        &-item {
            width: calc(50% - 5px);

            &__img {
                height: 165px;
            }

            &__title, &__price {
                font-size: em(16px);
            }

            &:nth-child(3), &:nth-child(4) {
                margin-top: 10px;
            }
        }

        // Ribbons
        .ribbon {
            &:nth-child(1) {
                top: 40%;
            }
        }
    }

    // Bonus
    .bonus {
        &-top {
            &__title {
                text-align: center;
                font-size: em(30px);
            }

            &__text {
                font-size: em(14px);
            }
        }

        &-bottom {
            margin-top: 20px;
            max-width: none;
            width: 100%;

            &__text {
                font-size: em(16px);
            }

            &__text2 {
                max-width: 272px;
                display: block;
            }
        }

        &__img {
            height: 315px;
        }
    }

    // Repair
    .repair {
        overflow: hidden;

        &-body {
            margin-bottom: vw(-35);
            height: vw(430);
            mask-image: url('../img/repair_mobile_shape.svg');
        }

        &-img {
            @include box(100%, vw(220));
            background-image: url('../img/repair_mobile_img.png');
        }

        &__title, &__text {
            text-align: center;
        }

        &__title {
            font-size: vw(30);
        }

        &__text {
            margin-top: vw(10);
            max-width: none;
            width: 100%;
            font-size: vw(16);
        }

        &-feature {
            i {
                font-size: em(30px);
            }
        }
    }

    // Used
    .used {
        &__title {
            text-align: center;
        }

        &__img {
            height: 300px;
        }
    }

    //! Catalog page
    .catalog {
        .categories {
            overflow: auto;
            
            &__inner {
                display: inline-flex;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .categories-item + .categories-item {
                margin-left: 10px;
            }

            &-item {
                width: 98px;
                display: block;

                &__img {
                    height: 77px;

                    img {
                        max-width: 35px;
                    }
                }
            }
        }

        .slugs {
            overflow-x: scroll;

            &-row {
                display: inline-flex;
            }

            &__btn {
                min-width: 120px;
            }
        }

        .grid {
            &-column {
                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    width: 100%;
                }

                &:nth-child(3) {
                    margin: 0; 
                }
            }

            &-product {
                width: calc(50% - 10px);
            }
        }
    }

    //! Cart page
    .cart {
        &__title {
            display: none;
        }

        &-body {
            &-item {
                &__img {
                    @include box(105px);
                }

                &-content {
                    margin-left: 10px;
                    flex-shrink: 100;
                }

                &__title {
                    font-size: em(15px);
                }

                &__articul {
                    margin-top: 5px;
                    font-size: em(10px)
                }

                &__price {
                    font-size: em(19px);
                }

                &__overprice {
                    font-size: em(12px);
                }
            }
        }
    }

    //! Dashboard page
    .dashboard {
        &__edit-profile-btn {
            width: 100%;
        }

        &-box {
            padding: 20px 10px;

            &__title {
                &:after {
                    display: none;
                }
            }

            &__btn {
                width: 100%;
            }
        }

        &-profile {
            flex-direction: column;
            align-items: flex-start;

            &__img {
                @include box(125px);
            }

            &__lists {
                padding-bottom: 20px;
            }
        }

        &-card {
            width: 100%;
        }

        &-certificate {
            width: 100%;
        }
    }

    //! Product page
    .product-page {
        .vertical-slider {
            display: none;
        }

        .horizontal-slider {
            margin-left: 0;
            width: 100%;

            &-slugs {
                top: auto;
            }

            &__inner {
                width: 500px;
            }
        }

        .product-content {
            &__overprice {
                margin-left: 15px;
            }
        }
    }

    //! Footer 
    .footer {
        &-legend {
            font-size: vw(130);
            line-height: vw(110);
        }

        &__inner {
            margin-top: 15px;
        }

        &__title {
            font-size: em(25px);
        }
    }
}

// ≥576px
@include media-breakpoint-down(sm) {
    .product-page {
        .horizontal-slider {
            &__inner {
                width: 100%;
            }

            &-item {
                height: 390px;
            }
        }
    }
}