.about-us {
    margin-top: 50px;
    @include flexbox();
    @include box(100%, 560px);

    .about-us-container {
        margin: 0 auto;
        @include flexbox();
        max-width: 1360px;
        height: 100%;
    }

    .img, .box {
        @include box(50%, 100%);
    }

    .img {
        @include flexbox(center);
    }

    .box {
        background-image: url("../../img/about-us-green.png");
        background-size: cover;
    }

    .content {
        padding: 70px 0;
        padding-left: 80px;
        padding-right: 100px;

        .title {
            color: $white;
            font-family: "Montserrat", sans-serif;
            font-size: em(28px);
        }

        .text {
            color: $white;
            font-family: "Montserrat", sans-serif;
            font-size: em(14px);
            font-weight: 400;
        }
    }
}