.contact {
    margin-top: 70px; 

    .contact-information {
        margin-top: 5px;
        @include flexbox(flex-start, flex-start, column);

        &:nth-child(1) {
            margin-top: 20px;
        }

        .universal-title {
            text-align: left !important;
        }

        span {
            color: $white;
            font-family: "Montserrat", sans-serif;
            font-size: em(13.85px);
        }
    }

    .forms {
        margin-top: 20px;
        @include flexbox();
        
        @media (max-width: 660px) {
            flex-direction: column;
        }

        .inputs {
            @include flexbox(flex-start, flex-start, column);

            input {
                color: $white;
                font-family: "Montserrat", sans-serif;
                font-size: em(14px);
            }

            .field {
                width: 100%;
                padding-left: 1px;
                padding-bottom: 5px;
                background-color: transparent;
                border-bottom: 1px solid $green;
                transition: all 0.3s ease;
                
                &:focus {
                    border-bottom-color: #ffc107;
                }
            }

            .field + .field {
                margin-top: 20px;
            }

            input[type="submit"] {
                margin-top: 30px;
                padding: 22px 95px;
                color: #363636;
                cursor: pointer;

                transition: all 0.3s ease;

                &:hover {
                    color: white;
                    background-color: $green;
                }
            }
        }

        .textarea {
            margin-left: 30px;
            @include flexbox(flex-start, flex-start, column);

            label {
                color: #959595;
                font-family: "Montserrat", sans-serif;
                font-size: em(14px);
            }

            textarea {
                max-width: 270px;
                min-width: 270px;
                min-height: 90px;
                max-height: 90px;
                padding: 5px;
                color: $white;
                font-family: "Montserrat", sans-serif;
                background-color: #3e3e3e;
                
                &:focus {
                    background-color: darken($color: #3e3e3e, $amount: 15);
                }
            }
        }
    }
}