.primary-btn {
    position: relative;
    z-index: 1;
    @include flexbox(center);
    color: $green;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid $green;
    border-radius: 50px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        box-shadow: 2px 3px 10px rgba(21, 22, 21, 0.3);
        border-color: transparent;
    }

    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        border-radius: 50px;
        @include gradient();
        transition: opacity 0.3s linear;
    }

    &:hover::before {
        opacity: 1;
    }
}

.section-title {
    text-align: center;
    color: $green;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}

.soc-btns {
    @include flexbox();
    
    .soc-btn {
        margin-left: 10px;
        @include flexbox(center, center);
        @include box(30px);
        border: 1px solid #000;

        &:nth-child(1) {
            margin-left: 0;
        }

        &:hover {
            @include gradient();
            border: 0;

            i{
                color: #ffffff;
            }
        }
    }
}