//* MFP Video
.mfp-video-container {
    position: relative;
    margin: 0 auto;
    max-width: 70vw;

    video {
        max-height: 70vh;
    }

    .mfp-close {
        top: -45px;
        color: #fff;
        font-size: em(45px);
    }
}

//* Modals
.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 88888;
    @include box(100vw, 100vh);
    display: none;
    background: rgba($color: #000000, $alpha: .6);

    // Close button
    &-close-btn {
        top: 23px;
        right: 23px;
        position: absolute;
        @include box(25px);

        &__container {
            position: relative;
            @include box(100%);
        }

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            @include box(100%, 2px);
            background: $text;

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    // Inner
    &-inner {
        position: absolute;
        @include flexbox(center, center);
        @include box(100%);
    }

    // Box
    &-box {
        position: relative;
        max-width: 600px;
        padding: 40px;
        background: #fff;
        box-shadow: 0 0 20px #000;
        border-radius: 10px;

        &__title {
            font-size: em(30px);
        }
    }

    // Form
    &-form {
        margin-top: 30px;
        @include flexbox(center, center, column);
        padding: 40px;
        border-radius: 10px;
        border: 1px solid $accent;

        &__text {
            font-size: em(20px);
            font-weight: 500;
            text-align: center;
        }

        &__text-2 {
            font-size: em(16px);
        }

        &__field {
            width: 100%;
            padding: 20px;
            font-size: em(16px);
            border: 1px solid $accent;
            border-radius: 10px;
            transition: all .3s ease;

            &:focus {
                border-color: $maroon;
            }
        }

        &-checkbox label {
            @include flexbox(space-between, center);
            padding: 10px 15px;
            border: 1px solid $maroon;
            border-radius: 10px;
            cursor: pointer;

            i {
                color: $maroon;
                font-size: em(25px);
            }

            span {
                margin-left: 10px;
                font-size: em(16px);
            }
        }

        &-checkbox__field {
            appearance: none;
            @include box(30px);
            border: 2px solid $accent;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
            transition: all 0.2s;
            position: relative;

            &:checked::after {
                content: "✓";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: $maroon;
                font-size: em(18px);
                font-weight: bold;
            }
        }

        &-privacy {
            @include flexbox(center, center);
            
            &__text {
                margin-left: 10px;
                max-width: 280px;
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                font-size: em(14px);
                font-weight: 300;

                a {
                    text-decoration: underline;
                }
            }
        }

        &__btn {
            padding: 20px 30px;
        }
    }

    // Card box
    &-card-box {
        position: relative;
        padding: 50px;
        @include box(90%);
        background: #fff;
        overflow-y: auto;

        &__row {
            @include box(100%);
        }

        // Slider
        &-slider {
            &__item {
                @include box(100%, calc(85vh - 100px));
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 10px;
            }
        }

        // Content
        &__title, &__price {
            font-family: 'Montserrat', sans-serif;
            font-size: em(24px);
            font-weight: 500;
        }

        &__text {
            font-size: em(20px);
        }

        &__properties {
            font-family: 'Montserrat', sans-serif;
            font-size: em(16px);
        }

        &__btn {
            padding: 20px 30px;
        }
    }

    // Quiz iframe
    iframe {
        @include box(100%, 100%);
    }
}

//* Slick arrows
.slick-arrow {
    &.slide-prev {
        margin-right: 35px;
    }

    i {
        color: $maroon;
        font-size: em(36px);
    }

    &.slick-disabled {
        i {
            color: $native;
        }
    }
}

//* Vertical gallery
.vertical-gallery {
    position: relative;
    overflow: hidden;
    width: 100%; 

    &-wrapper {
        position: absolute;
        width: 100%;
    }

    &-row {
        margin-top: 15px;

        // Zoomed item
        .vertical-gallery__item.zoomed {
            &:nth-child(1) {
                transform: scale(1.2) translateX(5%);
            }
            &:nth-child(2) {
                transform: scale(1.2) translateX(0);
            }
            &:nth-child(3) {
                transform: scale(1.2) translateX(-5%);
            }
        }
    }

    &__item {
        @include box(calc(33.3% - 7.5px), 280px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 10px;
        transition: transform .5s ease;

        &.zoomed {
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);
        }
    }
}

//* Section title
.section-title {
    font-size: em(56px);
}

//* Section text
.section-text {
    font-size: em(24px);
    font-weight: 500;
}

//* Button
.btn {
    color: #fff;
    font-size: em(24px);
    font-family: 'Montserrat', sans-serif;
    background-color: $maroon;
    border-radius: 10px;
    border: 1px solid $maroon;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        color: $text;
        background: #fff;
    }
}

//* Socials
.socials {
    &__btn {
        @include flexbox(center, center);
        @include box(60px);
        border-radius: 50%;

        i {
            font-size: em(20px);
        }
    }
}

//* Social links
.social-links {
    &__item i {
        font-size: em(30px);
    }
}

//* Other
.w-100 {
    width: 100%;
}

//* Overflow hidden
.ov-h {
    overflow: hidden;
}