.section-c {
    // Tabs
    &-tabs {
        margin-top: 50px;
        position: relative;
        width: 70%;
        padding: 30px;
        @include flexbox(flex-start, flex-start, column);
        background: #f5f5f5;
        border-radius: 10px;

        &__pointer {
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            font-size: em(16px);
        }

        &-tab + &-tab {
            margin-top: 30px;
        }

        &-tab {
            @include flexbox(flex-start, center);
            width: 100%;
            padding: 10px 20px;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 10px;

            &.active {
                box-shadow: 0 0 15px 10px rgba(1, 12, 39, .1019607843);
                background: #fff;
            }

            &__icon {
                @include box(50px);
                @include flexbox(center, center);
                border-radius: 10px;
                background: $maroon;

                img {
                    max-width: 37px;
                    max-height: 37px;
                }
            }

            &__name {
                margin-left: 15px;
                color: $text;
                font-size: em(22px);
            }
        }
    }

    // Tabs content
    &-tabs-content {
        position: relative;
        @include box(100%, 600px);

        &__item {
            position: absolute;
            left: 0;
            top: 0;
            @include box(100%);
            display: none;

            &.active {
                @include flexbox(center, center);
            }

            &:nth-child(2) {
                top: -5px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__item-light {
            top: 5px;
            z-index: 222;

            &.on {
                @include flexbox(center, center);
            }
        }
    }
}