.footer {
    &__box {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 50px;
        padding-bottom: 25px;
        background-color: $orange;
        background-size: 150px;
        border-radius: 90px;
    }

    &-column {
        @include flexbox(space-between, flex-start, column);

        &__title {
            font-family: 'Dela Gothic One', sans-serif;
            font-size: rem(24px);
            font-weight: 400;
            line-height: rem(24px);
        }

        &__link-text {
            font-family: 'SF UI Display', sans-serif;
            font-size: rem(14px);
            font-weight: 700;
        }

        .soc-btn {
            box-shadow: 0 4px 12px -3px #000;
        }
    }

    &-menu {
        &__item + &__item {
            margin-top: rem(10px);
        }
    }
}