//! Libraries and settings
@import "vars";
@import "mixins";
@import "fonts";
@import "libs";
@import "reset";

//! Sections and components
@import "sections/header";
@import "sections/components";

// Start banner
.start-banner {
    padding: 130px 0;
    position: relative;

    &__content {
        @include flexbox(flex-start, flex-start, column);
    }

    h2 {
        font-family: 'Pribambas', sans-serif;
        font-size: em(45px);
    }

    p {
        margin-top: 25px;
        color: #323232;
        font-family: 'Myriad Pro', sans-serif;
        font-size: em(25px);
        font-style: italic;
        font-weight: lighter;
    }

    p.little {
        font-size: em(20px);
    }

    &__btn {
        margin-top: 40px;
        padding: 15px 60px;
        font-size: em(25px);
    }

    &__img {
        position: absolute;
        right: -50px;
        top: -20%;
    }
}

// Features
.features {
    .feature {
        padding: 40px 20px;
        min-height: 290px;
        background: #fff;
        box-shadow: 0px 5px 17px 1px rgba(180,192,209,0.34);

        &__flex {
            @include flexbox(flex-start, center);
        }

        h4 {
            margin-left: 25px;
            color: #1f1f1f;
            font-family: 'Futura PT', sans-serif;
            font-size: em(26px);
            line-height: 24px;
        }

        p {
            margin-top: 25px;
            color: #1f1f1f;
            font-family: 'Futura PT', sans-serif;
            font-size: em(22px);
            line-height: 31px;
        }
    }
}

// Requirements
.requirements {
    .requirement {
        @include flexbox(flex-start, center, column);
        padding: 30px 25px;
        min-height: 300px;
        border: 2px solid #6B95CF;
        border-radius: 50px;

        h4 {
            margin-top: 20px;
            text-align: center;
            font-family: 'Futura PT', sans-serif;
            font-size: em(26px);
        }

        p {
            margin-top: 20px;
        }
    }
}

// How we work 
.how-work {
    .stage {
        @include flexbox(flex-start, center, column);

        .percentage {
            position: relative;
            @include flexbox(center, center);
            @include box(130px);
            font-family: 'Futura PT', sans-serif;
            font-size: em(35px);
            border-radius: 50%;
        }

        h4 {
            margin-top: 15px;
            text-align: center;
            font-family: 'Myriad Pro', sans-serif;
            font-size: em(18px);
            line-height: 24px;
        }

        i {
            position: absolute;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            color: #7FA0CD;
        }
    }
}

// About
.about {
    .video-container {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // Testimonial 
    .testimonial {
        margin-top: 150px;
    }
}

// Price
.price {
    overflow: hidden;

    &-slider {
        // Arrows
        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 777;
            transform: translateX(-50%);
            @include flexbox(center, center);
            @include box(60px);
            color: #fff;
            font-size: em(30px);
            background-color: #6c96cf;
            border-radius: 50%;
            transition: all .3s ease;

            &:hover {
                background-color: #9FBBE0;
            }
        }

        .slide-to-left {
            left: -4.5%;
        }

        .slide-to-right {
            right: -10%;
        }

        // Track
        .slick-track {
            height: 660px;
            @include flexbox(space-between, center);
        }

        // Slide
        &__slide {
            position: relative;
            margin: 0 10px;
            display: flex !important;
            align-items: center;
            flex-direction: column;
            padding: 40px 30px;
            height: auto;
            background-color: #f8f8f8;

            &:after {
                position: absolute;
                content: '';
                top: 0;
                @include box(100%);
                background-color: rgba(255, 255, 255, 0.35);
            }

            &.slick-current.slick-center {
                height: 630px;
                border: 1.5px solid #658abb;

                &:after {
                    display: none;
                }

                h3 {
                    font-size: em(30px);
                }

                p {
                    font-size: em(25px);
                }

                .blue-btn {
                    padding: 20px 75px;
                    font-size: em(18.4px);
                }
            }

            h3, p {
                text-align: center;
                color: #1F1F1F;
                font-family: 'Futura PT', sans-serif;
                letter-spacing: 1px;
            }

            h3 {
                position: relative;
                font-size: em(25px);

                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    @include box(100%, 2px);
                    background-color: #1F1F1F;
                }
            }

            .content {
                margin-top: 50px;
            }
            
            p {
                font-size: em(20px);
                line-height: 20px;
            }

            p + p {
                margin-top: 5px;
            }

            .price-text {
                margin-top: 50px;
                color: #4F71A0;
                font-family: 'Futura PT', sans-serif;
                font-size: em(40px);
                letter-spacing: 1px;
            }

            .blue-btn {
                margin-top: 30px;
                padding: 10px 50px;
                font-size: em(16px);
            }
        }
    }
}

// Partners
.partners {
    &-slider {
        &__slide {
            @include flexbox(center, center);

            img {
                max-width: 100%;
            }
        }
    }
}

// Projects
.projects {
    &__row {
        margin-left: -10px;
        margin-right: -10px;
        @include flexbox(center);
        flex-wrap: wrap;
    }

    .project {
        margin: 5px;
        @include box(calc(50% - 15px), 345px);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all .3s ease;

        &:hover {
            box-shadow: inset .5em .5em 4em #7FA0CD;
        }
    }
}

@import "sections/footer";

@import "media"; // Always at the end