//! Start-banner
.start-banner {
	position: relative;
	background-color: $dark;
	background-image: url('../img/vertical-line.png');
	background-repeat-x: no-repeat;
	background-position: 93%;

	* {
		color: #fff;
	}

	&__title {
		margin-top: 160px;
	}

	&__title, &-content {
		max-width: 1200px;
	}

	&__title, &__case {
		font-size: em(55px);
	}

	&-content {
		margin-top: 25px;
		padding-left: 60px;

		p {
			font-size: em(30px);
		}
	}

	&__case {
		position: absolute;
		right: -80px;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		text-transform: uppercase;

		&:hover {
			color: $pink;
		}
	}
}

//! Waves
.waves {
	@include box(100%, 18px);
	background-image: url('../img/waves.png');
}

//! Color text
.pink-text {
	color: $pink !important;
}

.white-text {
	color: #fff !important;
}

.dark-text {
	color: $dark !important;
}

//! Section-card
.section-card {
	background-image: url('../img/vertical-line2.png');
	background-position: 97%;
	background-repeat-x: no-repeat;

	.row {
		padding: 0 10px;
	}

	* {
		color: $dark;
	}

	// Image
	.stages-img {
		max-width: 535px;
	}

	// Content
	&-content {
		@include flexbox(flex-start, flex-end, column);
	}

	// Title
	h2 {
		text-transform: uppercase;
		font-size: em(72px);
	}

	// Menu
	&-menu {
		margin-top: 120px;

		a {
			cursor: pointer;
			text-transform: uppercase;
			font-size: em(60px);

			&:hover {
				color: $pink;
			}
		}

		i{
			display: none;
		}

		&__item + &__item {
			margin-top: 10px;
		}
	}

	// Submenu
	&-submenu {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 999;
		@include box(40vw, 100vh);
		padding: 20px 40px;
		background-color: $pink;

		&.active {
			display: block;
		}

		li {
			color: #fff;
			font-size: em(45px);
		}

		li + li {
			margin-top: 40px;
		}
	}

	//* Right 
	&.right {
		position: relative;
		background-color: $pink;
		background-image: url('../img/vertical-line3.png');
		background-position: -5%;
	}

	&.right &-content {
		align-items: flex-start;
	}

	&.right .robot-img {
		position: absolute;
		bottom: 0;
		left: 100px;
	}

	&.right &-menu {
		a:hover {
			color: #fff;
		}
	}

	&.right &-submenu {
		left: 0;
		background-color: #fff;

		li {
			color: $dark;
		}
	}
} 