//! Burger menu
.burger-btn {
    @include flexbox(center, center);
    display: none;
    background-color: transparent;
    @include box(60px, 100%);
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;

    span {
        position: relative;
        display: block;

        &:after,&:before {
            content: "";
            position: absolute;
            left: 0;
            top: -6px;
        }

        &:after {
            top: 6px;
        }
    }
}

.burger-btn span,
.burger-btn span:after,
.burger-btn span:before {
    @include box(20px, 2px);
    background-color: #ffffff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
.burger-btn.on span {
    background-color: transparent;

    &::before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    &::after {
        transform: rotate(-45deg) translate(4px, -4px);
    } 
}

//! Background
.bg {
    @include box(100%, auto);

    &-dark-gray {
        background-color: #1a1a1a;
    }
}

//! Text
.text {
    color: $light-gold;
    font-size: em(20px);
}

//! Title
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

h3.title {
    font-size: em(34.5px);
}

//! Introduced block
.introduced-block {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 801px;
    text-align: center;

    h2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: lighter;
    }

    p {
        margin-top: 30px;
    }
}

//! Btns
// Purple button
.purple-btn {
    box-sizing: content-box;
    color: #fff;
    text-align: center;
    font-size: em(20px);
    text-transform: uppercase;
    background-color: $purple;
    transition: all .3s ease;

    &:hover {
        background-color: lighten($purple, 7);
    }
}

// Transparent button
.transparent-btn {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    transition: all .3s ease;

    &:hover {
        background-color: $purple;
    }
}