header {
    position: fixed;
	width: 100%;
	background: rgba(32, 32, 32, 0.2);
	padding: 20px 0;
    z-index: 333;

	* {
		color: $white-light;
	}

    .logo img {
        max-width: 250px;
    }

    .email {
    	font-family: '20db';
    	font-weight: bold;
    	font-size: em(30px);
    }

    .cellphone {
        border-radius: 2px;
        padding: 5px;
        background: $pink;
    	font-size: em(30px);

        &:hover {
            background: #757575;
        }
    }
}