@import "../css_libs/bootstrap/scss/bootstrap-grid.scss";
@import "../css_libs/bootstrap/scss/utilities/_sizing.scss";

// Slick
@import "../css_libs/slick/slick.scss";
@import "../css_libs/slick/slick-theme.scss";
