@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.advantages-section {
        padding: 50px 0;

        .img {
            max-width: 360px !important;
        }

        .left-block {
            position: relative;
    
            .gold-bird {
                display: none;
            }
    
            .content {
                padding-left: 0;
                padding-right: 0;
            }
        }
    
        .right-block {
            .content {
                padding-left: 0px;
            }
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    header {
        ul.header-menu li + li {
            margin-left: 45px;
        }
    }

    // Main section
    .main-section {
        .produce-block .type-content {
            margin-top: 0;
        }

        .logo {
            width: 95%;
        }
    }

    // Categories section
    .categories-section .categories .category {
        margin: 15px;
        width: calc(50% - 30px);
    }


    // Contacts section
    .contacts-section {
        .items {
            .item {
                width: calc(50% - 100px);
            }
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    // Header
    header {
        .content {
            margin: 0;
            height: 65px;
        }

        ul.header-menu {
            position: absolute;
            z-index: 777;
            left: 0;
            top: 65px;
            display: none;
            min-width: 290px;
            max-width: 300px;
            height: auto;
            background-color: rgba(#212121, 0.9);
        }

        ul.header-menu li {
            width: 100%;
        }

        ul.header-menu li a {
            width: 100%;
            display: block;
            padding: 15px 20px;

            &:hover {
                color: #fdd835;
                background-color: #616161;
            }
        }

        ul.header-menu li + li {
            margin-left: 0;
        }

        .lang-search .lang {
            margin-right: 17px;
        }

        .top-line-empty {
            height: 65px;
        }
    }

    .burger-btn {
        display: flex;
    }

    // Purple button
    .main-section .produce-block .type-content .purple-btn {
        margin-top: 45px;
    }

    // Categories section
    .categories-section{
        margin-top: 60px;

        .categories {
            margin: 0;
            justify-content: center;

            .category {
                margin: 15px 0;
                @include box(90%, 360px);
            }
        } 

        .purple-btn-container {
            margin-top: 40px; 
        }
    
        .purple-btn {
            padding: 13px 15px;
            word-wrap: normal;
        }
    }

    .advantages-section {
        .img {
            max-width: 360px !important;
        }

        .left-block, .right-block {
            margin-top: 25px;
            align-items: center;
        }

        .left-block {
            flex-direction: column-reverse;
        }

        .right-block {
            flex-direction: column;
        }

        .content {
            padding-top: 15px;

            h3 {
                word-break: break-word;
                color: #fff;
                font-size: em(35px);
            }
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .container {
        padding: 0 10px !important;
    }

    //! Main section
    .main-section {
        padding-top: 0px;

        .smoke-effect {
            position: static;
            transform: none;
            width: 100%;
            max-width: auto;
        }
        
        .produce-block {
            margin-top: 30px;
        }
    }

    //! Banner section
    .banner-section {
        justify-content: center;
        padding: 0 15px;
        max-height: 480px;

        .title {
            font-size: em(36px);
        }

        .transparent-btn {
            padding: 12px 70px;
        }
    }

    //! Advantages section
    .advantages-section {
        .img {
            max-width: 200px !important;
        }
    }

    //! Contacts section
    .contacts-section {
        .items {
            margin: 0;

            .item {
                margin: 15px 0;
                width: 90%;
            }
        }
    }
}