h3[data-v-d2d148ff]{margin-bottom:30px;font-size:16px;font-weight:500}.send-password-btn[data-v-d2d148ff]{margin-top:30px}.send-password-btn span[data-v-d2d148ff]{margin-left:10px;font-size:12px;font-weight:500}
