h3[data-v-5cf75203]{margin-bottom:30px;font-size:16px;font-weight:500}.send-password-btn[data-v-5cf75203]{margin-top:30px}.send-password-btn span[data-v-5cf75203]{margin-left:10px;font-size:12px;font-weight:500}
