/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
    // Header
    header {
        .email {
            text-align: end;
        }

        .cellphone-numbers {
            padding-left: 0;
        }

        .nav .download-btn {
            padding-left: 0;
        }
    }

	main {
        .projects {
            justify-content: center;
        }
    } 
}

// ≥992px
@include media-breakpoint-down(md) {
    .sub-header {
        position: sticky;
        z-index: 777;

        .nav .nav-menu {
            top: 70px;
        }
    }

    header .nav {
        transform: translateX(0); // this will act like relative parent 

        .nav-menu {
            z-index: 888;
            position: fixed;
            left: 0;
            top: 0;
            max-width: 280px;
            min-width: 250px;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            height: 100vh;
            background-color: $dark;

            li {
                margin-left: 0;
                width: 100%;
                height: auto;
                border-bottom: 1px solid silver;
            }

            .link {
                padding: 15px;
                display: block;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #424242;
                }
            }

            .dropdown {
                position: static;
            }

            .dropdown-item {
                height: 60px;
                border-top: 1px solid silver;
                
                &:hover {
                    background-color: #424242;
                }
            }
        }

        .download-btn {
            justify-content: center;
        }

        .burger-btn {
            display: block;
            margin: 0 auto;
        }

        .search {
            justify-content: flex-start !important;
            
            .search-field {
                &.active {
                    transform: translate(70px, 0);
                }

                input {
                    margin-right: 30px;
                }
            }
        }
    }

    .radios, .btn-container {
        margin-top: 20px;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .sub-header {
        margin-top: 15px;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .row {
        padding: 0 15px;
    }
    

    // Header
    header {
        .logo {
            img {
                width: 120px;
            }
        }

        .email {
            margin: 0;
        }

        .call-btn-container {
            padding: 0;
        }
    }

    .nav .search .search-btn {
        width: 60px;
    }

    .nav .search .search-field {
        transform: translate(-170px, 0px);

        &.active {
            transform: translate(-170px, 69px) !important;
        }
    }

    // Main 
    main {
        .projects {
            margin: 0;
            margin-top: 30px;
        }

        .project {
            margin-left: 0;
            width: 300px;

            .img {
                height: 200px;
            }

            .flex-container {
                padding-top: 10px;
                flex-direction: column;
            }
        }

        .paginator {
            &-links {
                margin: 0;
            }

            li {
                &:nth-child(4), &:nth-child(6) {
                    display: none;
                }
            }
        }
    }

    footer {
        padding: 20px 0;

        .footer-content {
            flex-direction: column;

            .copyright {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 336px) {
    // Header
    header {
        .email {
            padding-bottom: 0;
        }

        .call-btn {
            margin-top: 10px;
        }
    }

    // Main
    main {
        .view-projects {
            select {
                width: 100%;
            }

            i {
                right: 15px;
            }
        }
    }
}