.header {
    width: 100%;
    padding: 35px 0;
    background: #fff;
    transition: all .3s ease;
    border-bottom: 1px solid #e0e0e0;

    &.fixed {
        position: fixed;
        z-index: 888;
        padding: 20px 0;
    }
    
    &.dark {
        background-color: #161618;

        .logo, .soc-link, .btn-dark {
            color: #fff;
        }

        .btn-dark {
            border-color: #fff;
        }

        .burger-btn span {
            background: #fff;
        }
    }

    .btn {
        padding: 11px 20px;

        &:nth-child(2) {
            margin-left: 30px;
        }
    }
}