.mm-panel {
    padding: 50px 0;
    background-color: #161618;
}

.mm-listview {
    margin: 0 auto;
}

.mm-menu .mm-listitem {
    &_selected {
        a {
            background-color: transparent;
        }
    }

    a {
        @include flexbox(space-between, center);
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
        text-transform: none;
        font-family: 'JetBrains Mono', monospace;
        font-weight: bold;
        font-size: em(40px);
        transition: all .3s ease;
    
        &:hover {
            color: $blue;

            svg {
                fill: #fff;
            }

            .link-title {
                text-decoration: underline;
            }
    
            i:before {
                transform: rotate(360deg);
            }
        }

        svg { 
            fill: transparent;
            transition: fill .4s ease; 
        }

        .link-title {
            margin-left: 40px;
        }
    
        .menu-icons {
            @include flexbox();
        }
    
        i {
            transition: all 2s ease;
    
            &.pink {
                &:before {
                    color: #F20080;
                }
            }

            &:before {
                display: block;
                font-size: 22px;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
    
        i + i {
            margin-left: 40px;
        }
    }

    &:last-child {
        margin-top: 50px;
    }
}