@import "../css_libs/bootstrap/scss/bootstrap-grid.scss";

// Swiper
@import "../css_libs/swiper/swiper-bundle.min.css";

// Magnific popup
@import "../css_libs/magnific-popup/magnific-popup.css";

// AOS
@import "../css_libs/aos/aos.css";