@import "vars";
@import "mixins";
@import "libs";
@import "reset";

// Components
@import './sections/components.scss';
// Sections
@import './sections/sections.scss';
// Header
@import './sections/header.scss';
// Footer
@import './sections/footer.scss';


@import "media"; // Always at the end