// Section title
.section-title {
    position: relative;
    font-size: em(35px);
    color: #fff;

    span {
        font-weight: 400;
    }
}

// Section card
.section-card {
    &-a {
        margin-top: 40px;

        .section-card__thumbnail {
            height: 450px;
        }

        .section-card__sign {
            top: -25px;
            right: 15%;
        }

        .section-card__title {
            color: $orange;

            &:before {
                color: $orange;
            }
        }

        .section-card__text {
            span {
                color: $dark-aqua;
            }
            
        }
    }

    &-b {
        background: $aqua;

        .section-card__thumbnail {
            position: relative;
            height: 430px;
            z-index: 1;
        }

        .section-card__sign {
            top: -26px;
            left: 10%;
        }

        .section-card__title {
            color: #fff;

            &:before {
                color: #fff;
            }
        }

        .section-card__content {
            position: relative; 

            .section-card__triangle {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: -205px;
                transform: translateY(-50%);
                width: 430px;
            }

            .section-card__triangle-small {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 20px;
                transform: translateY(-50%);
                width: 161px;
            }
        }
    }

    &-c {
        background: $orange;

        .section-card__thumbnail {
            height: 430px;
            z-index: 0;
        }

        .section-card__sign {
            top: -35px;
            left: 15%;
        }

        .section-card__title {
            color: #fff;
        }
    }

    &__thumbnail {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__sign {
        position: absolute;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: em(60px);
        font-weight: bold;
    }

    &__content {
        @include box(100%, auto);
    }

    &__title {
        &:before {
            content: '\f0da';
            position: absolute;
            top: 0px;
            left: -30px;
            font-family: "Font Awesome 5 Free";
            font-size: em(22px);
        }
    }

    &__text {
        margin-top: 20px;
        max-width: 400px;
        color: $dark-blue;
        font-size: em(18px);
        font-weight: 500;
        line-height: 25px;
    }
}

// Btns
.btn {
    color: $dark-blue;
    font-size: em(14px);
    font-weight: 500;
    background: #fff;
    transition: all .3s ease;

    &-style-1 {
        &:hover {
            color: #fff;
            background: $orange;
        }
    }
}

// Scroll to top button
.scroll-to-top-btn {
    @include flexbox(center, center);
    @include box(40px);
    color: #fff;
    font-size: em(18px);
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .3s ease;

    &:hover {
        background: #fff;

        i {
            color: $aqua;
        }
    }
}

// Social links
.soc-btns {
    @include flexbox(flex-start, center);

    &__link {
        font-size: em(22px);

        i {
            transition: all .3s ease;
        }

        &:hover {
            i {
                color: $dark-blue !important;
            }
        }
    }

    &__link + &__link {
        margin-left: 15px;
    }

    .hash-tag {
        margin-left: 15px;
        color: $dark-blue;
        font-family: "Oswald", sans-serif;
        font-size: em(16px);
    }
}

// Address
.address {
    @include flexbox(flex-start, center);

    i {
        font-size: em(23px);
    }

    span {
        margin-left: 15px;
        display: block;
        width: 130px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: em(14px);
        letter-spacing: 0.3px;
    }
}


// Burger menu
.burger-btn {
    display: none;
    position: relative;
    background-color: transparent;
    @include box(40px, 25px);

    span {
        @include box(100%, 4px);
        display: block;
        background: $aqua;
        border-radius: 3px;
        transition: all .3s ease;
    }

    &.active {
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                display: none;
            }
        }
    }
}
