// Start banner
.start-banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 50px;
    background: $orange;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 60%;
        transform: skewX(-25deg);
        @include box(50%, 100%);
        background-image: url('../../img/start-banner_bg.png');
        // background-position: top center;
        // background-size: cover;
        background-color: $aqua;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -28px;
        left: 50%;
        @include box(454px, 490px);
        background-image: url('../../img/funnel.png');
        // background-size: cover;
        // background-color: #fff;
    }

    &__title, &__text {
        color: #fff;
    }

    &__title {
        max-width: 550px;
        font-size: em(60px);
        line-height: 75px;

        span {
            font-weight: 300;
        }
    }

    &__text {
        margin-top: 15px;
        max-width: 440px;
        font-size: em(22px);
    }

    &__logo {
        max-width: 166px;
    }

    &-bottom {
        margin-top: 50px;
        border-top: 2px solid #FFFFFF;

        &__content {
            @include flexbox(flex-start, center);
        }

        &__date, span {
            padding: 18px 30px;
            color: #fff;
        }

        &__date { 
            font-family: 'Oswald', sans-serif;
            font-size: em(30px);
            font-weight: bold;
            border-right: 3px solid #fff;
        }

        span {
            margin-top: 5px;
            font-size: em(20px);
        }
    }

    &__btn {
        margin-top: 30px;
        padding: 9px 80px;
    }

    &__scroll-down {
        margin-top: 40px;
        max-width: 30px;
        display: block;
        color: #fff;
        font-size: em(35px);
        transition: all .3s ease;

        &:hover {
            color: $aqua;
        }
    }
}

// Section festival
.section-festival {
    
    padding-top: 90px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;

    &__container-row {
        position: relative;
        z-index: 0;

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            @include box(100vw, 196px);
            background: $aqua;
        }
    }

    &__row {
        margin-top: 75px;
        @include flexbox(space-between, flex-start);
    }

    &-item {
        @include flexbox(center, center, column);
        width: calc(20% - 15px);
        padding: 45px 14px;
        height: 224px;
        border: 2px solid #FFFFFF;

        &__counter {
            color: #fff;
            font-family: 'Oswald', sans-serif;
            font-size: em(70px);
            font-weight: bold;
        }

        &__title {
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: em(24px);
        }
    }
}