/** Panel */
.header .panel {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px; 
    width: 100%;
    background: #fff;
    border-radius: 22px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .15);
}

/* User */
.header .panel-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(28 / var(--base-width) * 100vw);
    height: calc(28 / var(--base-width) * 100vw);
    border: 1px solid var(--gold);
    border-radius: 50%;
}

.header .panel-user img {
    max-width: calc(12 / var(--base-width) * 100vw);
}

/* Text */
.header .panel span {
    margin-left: 13px;
    color: var(--accent);
    font-size: calc(12 / var(--base-width) * 100vw);
    font-weight: bold;
}

/* Arrow */
.header .panel-arrow {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    max-width: calc(7 / var(--base-width) * 100vw);
}

/** Link */
.header-link {
    margin-top: 15px;
    display: block;
    color: var(--accent);
    font-size: calc(10 / var(--base-width) * 100vw);
    text-decoration: underline;
}